.maincontent {
  max-width: 800px;
  width: 80%;
  margin: 0 auto;
}
textarea {
  resize: none;
  width: 100%;
  min-height: 100px;
  outline: none;
}
.row {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
}
button {
  width: 100px;
  height: 40px;
}
.monospace {
  font-family: "Courier New"
}
